app-login {
    ion-content {
        text-align: center;
        margin: 0px;

    }

    // .bg_image{
    //   background-image: url('../../../assets/icon/bg.png');
    //   background-repeat: no-repeat;
    //   margin-top: -194px; // for Proppelapps logo
    //   // margin-top: -130px; // for GE Appliances logo
    // }
    h2 {
        margin-top: 80px;
    }

    .input {
        padding: 8px;
        border: none !important;
        border-bottom: 1px solid #ccc !important;
        width: 85%;
        margin: auto;
        margin-bottom: 15px;
        background: transparent;
        color: #000;
        font-size: 18px;
        outline: none !important;
    }

    ::placeholder {
        color: rgb(50, 48, 48) !important;
    }

    .submit {
        font-size: 18px;
        margin: 8px;
        border: 2px solid #08668d !important;
        border-radius: 2rem;
        width: 85%;
        padding: 8px;
        color: #fff;
        background: #08668d;
        font-weight: bold;
        outline: none !important;
    }

    .image {
        position: static;
        width: 70%;
        margin-top: 5%;
    }

    .center-login-page {
        margin-top: 20% !important;
        display: flex;
        flex-direction: column;


    }

    .column {
        margin-bottom: 16%;
        justify-content: center;
    }

}