<ion-list>
  <ion-item class="border-bottom-grey">
    <ion-col>
      <ion-row class="row-alignment">
        <ion-col col-4 class="text-overflow  ">
          SubInv:
        </ion-col>
        <ion-col col-4 ion-item>
          <ion-input class="min-serial-input input-box" type="text" [placeholder]="'Select SubInv'"
            [(ngModel)]="subInventoryCode" (ionChange)="onChangeSubInventory($event)"></ion-input>
        </ion-col>
        <ion-col col-4>
          <ion-icon name="chevron-forward-outline"(click)="subInventoryModal()" size="large"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-item>
  <ion-item>
    <ion-col>
      <ion-row class="row-alignment">
        <ion-col col-4 class="text-overflow  ">
          Loc:
        </ion-col>
        <ion-col col-4 ion-item>
          <ion-input class="min-serial-input input-box" type="text" [placeholder]="'Select Loc'"
            [(ngModel)]="locator" (ionChange)="onChangeLocator($event)" ></ion-input>
        </ion-col>
        <ion-col col-4>
          <ion-icon name="chevron-forward-outline" (click)="locatorModal()" size="large"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-item>
</ion-list>