<ion-header>
  <app-header [heading]="heading" [isBack]="isBack" (onNavigateBack)="goBackToPreviousPage()"></app-header>
</ion-header>

<ion-content [fullscreen]="true">

  <swiper-container #swiper class="swiper_container" (swiperslidechange)="onSlideChange()">
    <swiper-slide class="items-details" *ngFor="let purchaseOrderItem of receiptPurchaseOrderItems let i=index">
      <ion-col size="10">
        <ion-item class="item-content" lines="none">{{purchaseOrderItem.ItemNumber}}</ion-item>
        <ion-item class="item-content" lines="none">{{purchaseOrderItem.ItemDesc}}</ion-item>
        <div class="separator"></div>
        <ion-item class="item-content" lines="none"> QtyOrdered: {{ purchaseOrderItem.QtyOrdered }} {{
          purchaseOrderItem.ItemUom }}</ion-item>
        <ion-item col-6>QtyRemaining: {{ purchaseOrderItem.QtyRemaining }} {{ purchaseOrderItem.ItemUom }}</ion-item>
        <ion-item class="item-content" lines="none">Shipment No: {{purchaseOrderItem.PoShipmentNumber}}</ion-item>
        <div class="separator"></div>
        <ion-row>
        </ion-row>
        <div class="separator"></div>
        <div [ngSwitch]="destination">
          <div *ngSwitchCase="'Receiving'">
            <ion-row class="qtyreceiving">
              <ion-col col-5>
                Qty Receiving :
              </ion-col>
              <ion-col col-4 ion-item>
                <ion-input class="quantity-detail" type="tel" placeholder="QTY" [(ngModel)]="purchaseOrderItem.QTY"
                  (ionChange)="goToKeypad($event, i)"></ion-input>
              </ion-col>
              <ion-col col-3>
                <strong>{{purchaseOrderItem.ItemUom}}</strong>
              </ion-col>
            </ion-row>
          </div>
          <div *ngSwitchCase="'Inventory'">
            <ion-row class="qtyreceiving">
              <ion-col col-5>
                Qty Receiving :
              </ion-col>
              <ion-col col-4 ion-item>
                <ion-input class="quantity-detail" type="tel" placeholder="QTY" [(ngModel)]="purchaseOrderItem.QTY"
                  (ionChange)="goToKeypad($event, i)"></ion-input>
              </ion-col>
              <ion-col col-3>
                <strong>{{purchaseOrderItem.ItemUom}}</strong>
              </ion-col>
            </ion-row>     
            <ion-row>
              <app-sub-inv-locator *ngIf="isSubInvLocValid(purchaseOrderItem)" [poItem]="purchaseOrderItem" (onSelectLocator)="onSelectLocator($event)" (onSelectSubInventory)="onSelectSubInventory($event)">
              </app-sub-inv-locator>
            </ion-row>
              <app-serial-number *ngIf="isSubInvLocValid(purchaseOrderItem) && isSerialControlled(purchaseOrderItem)"  [poItem]="purchaseOrderItem" (onSelectSerials)="onSelectSerials($event)" >
              </app-serial-number>
            <ion-row>
              <app-lot-number *ngIf="isSubInvLocValid(purchaseOrderItem) && isLotControlled(purchaseOrderItem)" [poItem]="purchaseOrderItem" (onSelectLots)="onSelectLots($event)" >
              </app-lot-number>
            </ion-row>
          </div>

        </div>
        <div class="separator"></div>
      </ion-col>
      <ion-col color="#08668d">
        <ion-button class="save-button" (click)="performPostTransaction(purchaseOrderItem, i)">Done</ion-button>
      </ion-col>
    </swiper-slide>
  </swiper-container>
</ion-content>