
ion-header {
  background-color: #08668d;
}

.po-item-box {
  width: 90%;
  margin: auto;
  height: auto;
}

.organization-header {
  background-color: #08668d;
}

ion-title {
  color: white;
}

.po-item-btn {
  background-color: #08668d;
  width: 90%;
  margin: auto;
  color: white;
  padding: 15px;
  font-size: 1.2rem;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 1rem;
}

.icon-position {
  margin: auto 0;
}

.po-line-item-wrapper {
  ion-label {
    margin: 0px 3px 0px 0px !important;
  }
}

.padding-6 {
  padding: 6px;
}

.icon-inner {
  color: green;
  size: 30px;

}

.list-page-content {
  padding: 60px;
  // border: 2px solid red;
}

.hearder-top {
  // margin-bottom: 60px;
}

.list-page-content-org {
  display: flex;
  align-items: center;
  gap: 50px;
  //  border: 2px solid green;
  border-bottom: 1px solid gray;
}

.list-page-content-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}
