<ion-header class="hearder-top">
  <app-header [heading]="type === 'subInventory' ? 'SubInvtories' : 'Locators'">

  </app-header>

</ion-header>
<app-search-bar [placeHolder]="'Search Organizations'" [searchText]="searchText" (clearItems)="clearSearchItem()"(searchItems)="getsearchItems($event)"></app-search-bar>


<ion-content [fullscreen]="true">
  <ion-list *ngFor="let item of data | filter :searchText" (click)="selectSubInv(item)"  lines="full">
    <ion-item style="display: flex; gap: 40px;">
      <ion-col *ngIf="type === 'subInventory'" >
        <strong>{{item.SubInventoryCode}}</strong>
        <p>
            {{item.SubInventoryDesc}}
        </p>
      </ion-col>
      <ion-col *ngIf="type === 'locators'" >
        <strong>{{item.Locator}}</strong>
      </ion-col>
    </ion-item>
  </ion-list>
</ion-content>