ion-header {
    background-color: #08668d;
  }

  cdk-virtual-scroll-viewport {
    height: 100%;
    width: 100%;
  }

  .PoNumber-label{
    border-radius: 0.3rem;
  }

  .square-input {
    border: 1px solid #000;
  }

  .container {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    // height: 100%;
  }
  .searchitem {
    margin-left: 1rem;
  }
  .barcode_searchbar {
    display: flex;
    justify-content: space-around;
    align-items: center;

  }